.collapsible-tab
    padding: 18px
    background-color: #555

.active, .collapsible-tab:hover
    background-color: #333

.collapsible-container
    padding: 0 18px
    display: none
    overflow: hidden
    transition: max-height 0.2s ease-out

.haiku
    text-align: right
    padding: 1em 30%