.collapsible-tab
    padding: 18px

.active, .collapsible-tab:hover
    background-color: #555

.collapsible-container
    padding: 0 18px
    display: none
    overflow: hidden
    transition: max-height 0.2s ease-out
