<div id="game">
        <div class="container" id="container" onmousemove="showControls()">

            <table class="stats" id="stats"></table>
            <div class="game-bar" id="game-bar"></div>

            <div class="controls" id="controls" onmouseleave="showControls()" onmouseover="clearTimeout(hideControlsTimeout)">
                <input class="range" id="progressBar" max="100" oninput="game.setTurn(parseInt(this.value))" type="range" value="0">
                <div class="controls-bottom">
                    <div class="controls-left">
                        <button class=".play-button control-button" id="playPauseBtn" onclick="this.textContent = game.pauseResume() ? '⏸️' : '▶️'">⏸️</button>
                        <p class="time-stamp" id="timeStamp">0/0</p>
                    </div>
                    <div class="controls-right">
                        <button class="control-button" id="clearDebugging" onclick="game.clearDebugging()">Clear debugging</button>
                        <div class="custom-select">
                            <label class="speedLabel" for="speedSelect">Speed:</label>
                            <select class="control-button" id="speedSelect" onchange="game.setSpeed(parseFloat(this.value))">
                                <option value="0.25">0.25</option>
                                <option value="0.5">0.5</option>
                                <option value="0.75">0.75</option>
                                <option selected="" value="1">1</option>
                                <option value="1.25">1.25</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>