<!-- <div class="canvas-resizer">
    <app-game-canvas></app-game-canvas>
</div> -->

<div class="overlay ">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-third has-text-centered-mobile">
                <h1 class="title is-1">
                    Batalja Spaciale
                </h1>
                <h3 class="subtitle is-2">
                </h3>
                <button class="button is-primary is-large" (click)="navigateToCompetitions()">Join</button>
            </div>
            <div class="column box is-one-third has-background-dark has-text-white container is-semi-transparent">
                <p class="has-text-centered is-size-4 p-3">FTP is a programming contest in which students test their
                    programming skills in a fun and engaging way.
                    Students develop a program (bot), which plays a game against other players.
                    The goal is to develop a strategy, which best responds to other strategies, without being
                    able to see the enemy source code.</p>
            </div>
        </div>
    </div>
</div>