<div class="columns is-desktop is-multiline" *ngIf="bots && dataReady" >
    <div class="column">
        <p class="is-size-3">Win rate (Top 4)</p>
        <app-win-rate-chart
            [series]=wrseries
            [labels]=wrlabels
        ></app-win-rate-chart>
    </div>

    <div class="column">
        <p class="is-size-3">Survival rate (Top 4)</p>
        <app-win-rate-chart
            [series]=srseries
            [labels]=srlabels
        ></app-win-rate-chart>
    </div>
    
    <div class="column is-full">
        <p class="is-size-3">Rounds</p>
        <app-rounds-chart
            [series1]=series1
            [labels]=labels
        ></app-rounds-chart>
    </div>

    <div class="column is-full">
        <p class="is-size-3">Score</p>
        <app-score-chart
            [series2]=series2
            [annotations]=subSwitchPoints
            [labels]=labels
        ></app-score-chart>
    </div>  
</div>


<div 
    *ngIf="!bots.length" 
    class="has-text-centered"
>
    <p class="is-size-3">
        No data to chart! 
    </p>
    <h3 class="subtitle is-3">
        You should submit your first bot and wait for a match.
    </h3>
</div>