<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Elo change</th>
                <th>Bot 1</th>
                <th>Bot 2</th>
                <th>Enemy kills</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let game of games">
                <tr class="is-clickable" (click)="toggleGame(game)">
                    <td class="elo" [ngClass]="{ 
                        'is-blue': isZeroElo(game),
                        'is-green': !isZeroElo(game) && isGameWon(game),
                        'is-red': !isZeroElo(game) && !isGameWon(game)
                    }">
                        {{ getEloLabel(game) }}
                        <i *ngIf="isGameWon(game)" class="fas fa-trophy is-yellow"></i>
    
                    </td>
                    <td>
                        {{ getBotLabel(game, "my1") }}
                        <img class="planet-img" src="{{ getMyBotImage(game, 'my1') }}" alt="" srcset="">
                        <i *ngIf="!botSurvived(game, 'my1')" class="fas fa-skull is-red"></i>
                        <i *ngIf="botCrashed(game, 'my1')" class="fas fa-bug is-other-red"></i>
                    </td>
                    <td>
                        {{ getBotLabel(game, "my2") }}
                        <img class="planet-img" src="{{ getMyBotImage(game, 'my2') }}" alt="" srcset="">
                        <i *ngIf="!botSurvived(game, 'my2')" class="fas fa-skull is-red"></i>
                        <i *ngIf="botCrashed(game, 'my2')" class="fas fa-bug is-other-red"></i>
                    </td>

    
                    <td >
                        <i *ngIf="enemyCrashed(game)" class="fas fa-bug is-other-red"></i>
                        <i *ngIf="!botSurvived(game, 'e1')" class="fas fa-skull is-red"></i>
                        <i *ngIf="!botSurvived(game, 'e2')" class="fas fa-skull is-red"></i>
                    </td>
    
                </tr>
                <tr *ngIf="game == gameDetailsOpened">
                    <td colspan="4">
                        <div class="bounded-width mt-5 mb-5">                            
                            <div class="level has-text-centered-mobile">
                                <div class="level-left">
                                    <h1 *ngIf="isGameWon(game)" class="is-size-3 is-green">Victory ({{ isTeam1(game) ? "Team 1" : "Team 2" }})</h1>
                                    <h1 *ngIf="!isGameWon(game)" class="is-size-3 is-red">Loss ({{ isTeam1(game) ? "Team 1" : "Team 2" }})</h1>
                                </div>
                                <div class="level-right">
                                    <button class="button is-primary" (click)="gameToPlay = game ; openVideoModal = true">Replay</button>
                                </div>
                            </div>
                            <app-game-charts-panel 
                                *ngIf="!gameDataContainsErrors(game)"
                                [team]="team" 
                                [gameData]="getAdditionalData(game)"
                                [bots]="bots"
                                [game]="game"    
                            ></app-game-charts-panel>


                            <div *ngIf="gameDataContainsErrors(game)">
                                <div *ngIf="(botCrashed(game, 'my1') || botCrashed(game, 'my2'))">
                                    <h1 class="is-size-5">Seems like one of your bots crashed :(</h1>
                                    <p>{{ getCrashError(game) }}</p>
                                </div>
                                <div *ngIf="!(botCrashed(game, 'my1') || botCrashed(game, 'my2'))">
                                    <h1 class="is-size-5">Seems like one of your enemies crashed :D</h1>
                                    <p>Cool...free wins!</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>

<!--play recording modal-->
<div class="modal" *ngIf="openVideoModal" [ngClass]="{
    'is-active': openVideoModal && gameToPlay
}">
    <div class="modal-background" (click)="openVideoModal=false">
        <div class="modal-card" *ngIf="gameToPlay?.id" >
            <!-- <div *ngFor="let game of games"> -->
                <!-- <div *ngIf="game.id == gameToPlay?.id"> -->
                    <app-game-canvas class="full-height" [gameId]="gameToPlay?.id ?? ''"></app-game-canvas>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>