<div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
            <th>Elo change</th>
            <th>My Bot 1</th>
            <th>My Bot 2</th>
            <th>Enemy kills</th>
            <th>Replay</th>
        </tr>
    </thead>

      <tbody>
        <tr *ngFor="let game of games">
            <td
                class="elo"
                [ngClass]="{ 
                    'is-green': isGameWon(game),
                    'is-red': !isGameWon(game)
                }"
            >
                {{ getEloLabel(game) }}
                <i *ngIf="isGameWon(game)" class="fas fa-trophy is-yellow"></i>
                
            </td>
            <td>
                {{ getBotLabel(game, "my1") }}
                <i *ngIf="!botSurvived(game, 'my1')" class="fas fa-skull is-red"></i>
            </td>
            <td>
                {{ getBotLabel(game, "my2") }}
                <i *ngIf="!botSurvived(game, 'my2')" class="fas fa-skull is-red"></i>
            </td>
            
            <td>
                <i *ngIf="!botSurvived(game, 'e1')" class="fas fa-skull is-red"></i>
                <i *ngIf="!botSurvived(game, 'e2')" class="fas fa-skull is-red"></i>
            </td>
            
            <td><i class="fas fa-play-circle"></i></td>
        </tr>
      </tbody>
    </table>
  </div>