<div class="container mt-5" *ngIf="pageIsReady">
    <!-- PAGE HEAD -->
    <div class="level has-text-centered-mobile">
        <div class="level-left">
            <h1 class="title is-2">{{ competition?.name }}</h1>
            <h3 class="subtitle is-3">{{ competitionStatus }}</h3>
        </div>

        <div class="level-right">
            <button class="button is-primary is-outlined is-hidden-mobile" *ngIf="team?.owner == player?.id"
                (click)="confirmationModalOpen = true">Disband team</button>
            <button class="button is-primary is-outlined" *ngIf="team?.owner != player?.id" (click)="confirmationModalOpen = true">Leave
                team</button>
        </div>
    </div>
    <!-- PAGE HEAD END -->


    <!-- TEAM INFO -->
    <div class="mb-5">
        <div class="is-size-5 is-size-6-mobile">
            <i class="icon fas fa-user mr-3 is-color-primary"></i>
            <strong class="is-color-primary">Owner:</strong>
            {{ ownerName() }}
        </div>
        <div class="is-size-5 is-size-6-mobile">
            <i class="icon fas fa-user mr-3 is-color-primary"></i>
            <strong class="is-color-primary">Partner: </strong>{{ partnerName() }}
        </div>
        <div class="is-size-5 is-size-6-mobile" *ngIf="!teamHasPartner()">
            <i class="icon fas fa-user-plus mr-3 is-color-primary"></i>
            <strong class="is-color-primary">Join team code: </strong>{{ team?.id }}
        </div>
    </div>
    <!-- TEAM INFO END -->

    <!-- TABS -->
    <div class="tabs is-centered">
        <ul>
            <li [ngClass]="{ 'is-active': tabOpen == 'overall' }" (click)="tabOpen = 'overall'"><a><i class="fas fa-chart-line mr-2"></i>Overall stats</a>
            </li>
            <li [ngClass]="{ 'is-active': tabOpen == 'games' }" (click)="tabOpen = 'games'"><a><i class="fas fa-medal mr-2"></i>Games</a></li>
            <li [ngClass]="{ 'is-active': tabOpen == 'bots' }" (click)="tabOpen = 'bots'"><a><i class="fas fa-robot mr-2"></i>Bots</a></li>
        </ul>
    </div>

    <!-- overall -->
    <div class="mb-5" [ngClass]="{ 'is-closed': tabOpen != 'overall' }">
        <app-charts-panel 
            [bots]="bots" 
            [botStats]="botStats" 
            [rounds]="rounds"
            [team]="team"    
        ></app-charts-panel>
    </div>

    <!-- games -->
    <div class="mb-5" [ngClass]="{ 'is-closed': tabOpen != 'games' }">
        <progress class="progress is-small is-primary" max="100" *ngIf="!gamesReady"></progress>
        <div *ngIf="gamesReady">
            <div *ngIf="!roundGames.length" class="has-text-centered">
                <h3 class="subtitle is-3">
                    You should submit your first bot and wait for a match.
                </h3>
            </div>

            <div *ngIf="roundGames.length">
                <div class="level has-text-centered-mobile">
                    <div class="level-left">
                        <p class="is-size-3">Select a round: </p>
                    </div>
    
                    <div class="level-right">
                        <select class="select" [(ngModel)]="roundSelected" (ngModelChange)="fetchNewRoundGames()">
                            <option *ngFor="let round of getRoundKeys()" [value]="round">Round {{ round }}</option>
                        </select>
                    </div>
                </div>

                <!-- <p *ngFor="let round of roundGames">{{ round | json }}</p> -->
                <!-- <app-game-canvas [gameId]="roundGames[0].id"></app-game-canvas> -->
                <app-round-table [games]="roundGames" [team]="team" [bots]="bots"></app-round-table>
            </div>
        </div>
    </div>

    <!-- bots -->
    <div class="mb-5" [ngClass]="{ 'is-closed': tabOpen != 'bots' }">
        <div class="box mb-3">To submit your player you must upload a <strong>.zip</strong> archive containing <strong>
            only</strong> your source <strong>.java</strong> files. The submitted files must contain a java file 
            <i>Player.java</i>, whith a main function. Files within your archive will be extracted and compiled using 
            Java JDK 11. <br /> The downloadable Game Pack contains a sample <i>Player.java</i> that is a working version of 
            a random player.<br /> The <strong>name</strong> of the submitted bot will be taken from the name of the .zip file, so you can 
            differentiate between the versions easily.  Be carefull, because you can <strong>not change</strong> the 
            names of the submissions later!<br> Once you have uploaded your bot, you can use it whenever. The <i><strong>
            First bot</strong></i> and <i><strong> Second bot</strong></i> drop-downs allows you to switch what uploaded bot 
            will play in the next match. The change of the active submission will also be visible in the score chart, once 
            the bot plays a match. </div>
        <!-- TOP BOXES -->
        <div class="columns bot-selection has-text-centered">
            <!-- upload bot -->
            <div class="column is-hidden-mobile">
                <div class="box">
                    <div class="is-size-4 is-color-primary mb-1">
                        <i class="far fa-file-archive mr-2"></i>
                        Upload bot
                    </div>
                    <br>
                    <div *ngIf="competition?.allowed_submissions">
                        <input class="input" type="file" (change)="onFileSelected($event)" />
                        <button class="button is-primary is-outlined mt-2" (click)="upload()">Upload</button>
                    </div>
                    <div *ngIf="!competition?.allowed_submissions">
                        <span class="is-size-4 is-color-text-gray">Submissions for competitions closed</span>
                    </div>
                </div>
            </div>

            <!-- select first bot -->
            <div class="column">
                <div class="box">
                    <div class="is-size-4 is-color-primary mb-1"><i class="fas fa-robot mr-2"></i>First bot</div>
                    <br>
                    <div *ngIf="!bots.length">
                        <span class="is-size-4 is-color-text-gray">Upload a bot first</span>
                    </div>
                    <div *ngIf="!!bots.length">
                        <select class="input select" [ngModel]="team?.bot1"
                            (ngModelChange)="onBotChange('First', $event)">
                            <option *ngFor="let bot of bots" [value]="bot.id">{{ bot.bot_name }}</option>
                        </select>

                    </div>
                </div>
            </div>

            <!-- select second bot -->
            <div class="column">
                <div class="box">
                    <div class="is-size-4 is-color-primary mb-1"><i class="fas fa-robot mr-2"></i>Second bot</div>
                    <br>
                    <div *ngIf="!bots.length">
                        <span class="is-size-4 is-color-text-gray">Upload a bot first</span>
                    </div>
                    <div *ngIf="!!bots.length">
                        <select class="input select" [ngModel]="team?.bot2"
                            (ngModelChange)="onBotChange('Second', $event)">
                            <option *ngFor="let bot of bots" [value]="bot.id">{{ bot.bot_name }}</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <!-- TOP BOXES END -->
        <div *ngIf="bots.length">
            <p class="is-size-3">Bot compilation messages:</p>
            <div class="mb-3">
                <section class="accordions" *ngFor="let bot of bots">
                    <article class="accordion" [ngClass]="{'is-active': openSubmissionAccordion == bot.id}">
                        <div class="accordion-header toggle" (click)="accordionToggle(bot.id)">
                            <h1 class="is-4 ml-2">{{ bot.bot_name }}</h1>
                            <span *ngIf="!!bot.compile_error" class="icon-span is-color-danger"><i
                                    class="fas fa-exclamation-triangle"></i></span>
                            <span *ngIf="!bot.compile_error" class="icon-span is-color-green"><i 
                                class="fas fa-check"></i></span> 
                        </div>
                        <div class="accordion-body">
                            <div class="accordion-content">
                                <h1 class="title is-3 mt-2 mb-2">
                                    <h1 class="title is-4">
                                        <span *ngIf="!!bot.compile_error" class="icon-span is-color-danger">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        Bot compilation errors:
                                    </h1>
                                </h1>
                                {{ bot.compile_error != "" ? bot.compile_error : 'No aditional data! (no errors)' }}
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <!-- TABS END -->


</div>

<progress class="progress is-small is-primary" max="100" *ngIf="!pageIsReady"></progress>

<!-- JOIN GAME MODAL -->
<div class="modal" [ngClass]="{ 'is-active': confirmationModalOpen }">
    <div class="modal-background" (click)="confirmationModalOpen = false"></div>
    <div class="modal-card">
      <header class="modal-card-head is-background-color-dark">
        <p class="modal-card-title is-color-text-gray">Are you sure?</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <footer class="modal-card-foot is-background-color-gray">
        <div class="level has-text-centered-mobile is-fullwidth">
            <div class="level-item">
                <button class="button is-primary" (click)="confimModal()">Yes</button>
            </div>
            <div class="level-item">
                <button class="button is-danger" (click)="confirmationModalOpen = false">No</button>
            </div>
        </div>
      </footer>
    </div>
  </div>