<div class="box mt-2">
    <div class="level">
        <div class="level-left">
            <div class="has-text-centered-mobile">
                <h1 class="title is-3">{{ competition?.name }}</h1>
            </div>
        </div>
        
        <div class="level-right has-text-centered" *ngIf="!isLogged()">
            <button class="button is-primary is-outlined is-disabled" disabled>Log in to join</button>
        </div>

        <div class="level-right has-text-centered" *ngIf="isLogged() && hasTeam">
            <button class="button is-primary mr-2" (click)="routeToTeam()">My Team</button>
        </div>
        <div class="level-right has-text-centered" *ngIf="isLogged() && !hasTeam && isCompetitionRunning()">
            <button class="button is-primary is-outlined mr-2" (click)="createTeam()">Create Team</button>
            <button class="button is-primary is-outlined" (click)="joinModalOpen = true">Join Team</button>
        </div>
    </div>

    <div class="columns is-multiline  has-text-centered">
        <div class="column is-half">
            <div class="item-content">
                <span>Time remaining</span><br>
                <app-competition-timer [competition]="competition"></app-competition-timer>
            </div>
        </div>

        <div class="column is-one-sixth">
            <div class="item-content">
                <span>End</span><br>
                <span class="is-size-4 has-text-weight-bold">{{ competition?.end | date: 'dd.MM.YYYY' }}</span>
            </div>
        </div>

        <div class="column is-one-sixth">
            <div class="item-content">
                <span>Num. of teams</span><br>
                <span class="is-size-4 has-text-weight-bold">{{ calcNumOfTeams(competition?.id) }}</span>
            </div>
        </div>
        <div class="column is-one-sixth">
            <div class="item-content">
                <span>Game-Pack</span><br>
                <button class="button is-primary is-outlined" (click)="downalodGamePack()">
                    <i class="fas fa-download"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- JOIN GAME MODAL -->
<div class="modal" [ngClass]="{ 'is-active': joinModalOpen }">
    <div class="modal-background" (click)="joinModalOpen = false"></div>
    <div class="modal-card">
      <header class="modal-card-head is-background-color-dark">
        <p class="modal-card-title is-color-text-gray">Enter invite code:</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body is-background-color-gray">
        <input class="input" type="text" [(ngModel)]="joinTeamCode">
      </section>
      <footer class="modal-card-foot is-background-color-gray">
        <div class="level has-text-centered-mobile is-fullwidth">
            <div class="level-item">
                <button class="button is-primary" (click)="joinTeam()">Join</button>
            </div>
            <div class="level-item">
                <button class="button is-danger" (click)="joinModalOpen = false">Cancel</button>
            </div>
        </div>
      </footer>
    </div>
  </div>