<div class="container mt-5" *ngIf="pageIsReady">
    <div class="has-text-centered-mobile mb-5">
        <h1 class="title is-1">Currently runnning competitions:</h1>
    </div>
    <div class="mb-3" *ngIf="runningCompetitions.length">
        <app-competition-card 
            *ngFor="let c of runningCompetitions" 
            [competition]="c"
            [teamCounts]="teamCounts"   
        ></app-competition-card>
    </div>
    <div class="box has-text-cenetered" *ngIf="!runningCompetitions.length">
        <p class="is-size-4 has-text-cenetered">No currently running competitions!</p>
    </div>
    <div class="has-text-centered-mobile mb-5">
        <h1 class="title is-1 mt-5">Previously attended competitions:</h1>
    </div>

    <div class="mb-3" *ngIf="attendedCompetitions.length">
        <app-competition-card 
            *ngFor="let c of attendedCompetitions" 
            [competition]="c"
            [teamCounts]="teamCounts"    
        ></app-competition-card>
    </div>

    <div class="box has-text-cenetered" *ngIf="!attendedCompetitions.length">
        <p class="is-size-4 has-text-cenetered">No previously attended competitions!</p>
    </div>
</div>


<progress class="progress is-small is-primary" max="100" *ngIf="!pageIsReady"></progress>